
1 Beschreibung/.$Архитектура.drawio.bkp
1 Beschreibung/.$Карта режимов.drawio.bkp
1 Beschreibung/.$Карта режимов.drawio.dtmp
1 Beschreibung/.$Архитектура стенда УПП.drawio.bkp
*.zip
3 Elektronik/sensor_current_stand/sensor_current_stand/sensor_current_stand-backups/sensor_current_stand-2024-04-15_142749.zip
5_Soft/1. Embedded_SW/test_stand/Debug/Core/Src/main.o
5_Soft/1. Embedded_SW/test_stand/Debug/Core/Src/main.su
5_Soft/1. Embedded_SW/test_stand/Debug/test_stand.elf
5_Soft/1. Embedded_SW/test_stand/Debug/test_stand.hex
5_Soft/1. Embedded_SW/test_stand/Debug/test_stand.list
5_Soft/1. Embedded_SW/test_stand/Debug/test_stand.map
5_Soft/1. Embedded_SW/test_stand/test_stand Debug.launch
